<div class="w-[90vw] md:w-200 max-w-screen-md min-h-40 bg-default p-5">
    <div class="w-full">
        <h1 class="text-xl text-primary font-semibold">
            {{ data.user?.id ? 'Editar' : 'Adicionar' }} Usuário
        </h1>
    </div>

    <form [formGroup]="form" (ngSubmit)="submitForm()" class="mt-10">
        <div class="flex flex-col gap-4">
            <div>
                <app-input label="Nome" placeholder="Digite o nome de usuário" formControlName="name"></app-input>
            </div>
            <div class="grid md:grid-cols-2 gap-4">
                <div>
                    <app-input label="E-mail" placeholder="Digite o e-mail" type="email" formControlName="email"></app-input>
                </div>
                <div>
                    <mat-form-field class="w-full">
                        <mat-label>Perfil</mat-label>
                        <mat-select formControlName="profile">
                            <mat-option [value]="99">
                                Administrador
                            </mat-option>
                            <mat-option [value]="10">
                                Recepcionista
                            </mat-option>
                        </mat-select>
                    </mat-form-field>
                </div>
            </div>
            <div class="grid md:grid-cols-2 gap-4">
                <div>
                    <app-input label="Senha" placeholder="Digite a senha" [isPwd]="true" type="password" formControlName="password"></app-input>
                </div>
                <div>
                    <app-input label="Confirmar Senha" placeholder="Confirme a senha" [isPwd]="true" type="password" formControlName="confirmPassword"></app-input>
                </div>
            </div>
        </div>
        <div class="w-full mt-10 mb-5 border-t"></div>
        <div class="flex justify-end gap-2">
            <button type="button" mat-button mat-dialog-close color="warn" [disabled]="form.disabled">
                Cancelar
            </button>
            <button mat-flat-button color="primary" [disabled]="form.disabled" class="min-w-30">
                {{ data.user?.id ? 'Salvar' : 'Adicionar' }}
                @if (form.disabled) {
                    <div class="absolute inset-0 flex items-center justify-center">
                        <mat-progress-spinner mode="indeterminate"></mat-progress-spinner>
                    </div>
                }
            </button>
        </div>
    </form>
</div>
