<div
    class="zuzi-vertical-navigation-item-wrapper"
    [class.zuzi-vertical-navigation-item-has-subtitle]="!!item.subtitle"
    [ngClass]="item.classes?.wrapper">

    <div
        class="zuzi-vertical-navigation-item"
        [ngClass]="{'zuzi-vertical-navigation-item-active': active,
                    'zuzi-vertical-navigation-item-disabled': item.disabled,
                    'zuzi-vertical-navigation-item-active-forced': item.active}"
        [matTooltip]="item.tooltip || ''">

        <!-- Icon -->
        @if (item.icon) {
            <mat-icon
                class="zuzi-vertical-navigation-item-icon"
                [ngClass]="item.classes?.icon"
                [svgIcon]="item.icon"></mat-icon>
        }

        <!-- Title & Subtitle -->
        <div class="zuzi-vertical-navigation-item-title-wrapper">
            <div class="zuzi-vertical-navigation-item-title">
                <span [ngClass]="item.classes?.title">
                    {{item.title}}
                </span>
            </div>
            <ng-container *ngIf="item.subtitle">
                <div class="zuzi-vertical-navigation-item-subtitle">
                    <span [ngClass]="item.classes?.subtitle">
                        {{item.subtitle}}
                    </span>
                </div>
            </ng-container>
        </div>

        <!-- Badge -->
        @if (item.badge) {
            <div class="zuzi-vertical-navigation-item-badge">
                <div
                    class="zuzi-vertical-navigation-item-badge-content"
                    [ngClass]="item.badge.classes">
                    {{item.badge.title}}
                </div>
            </div>
        }
    </div>

</div>

@if (!skipChildren) {
    <div class="zuzi-vertical-navigation-item-children">

        @for (item of item.children; track item.id) {

            <!-- Skip the hidden items -->
            @if ((item.hidden && !item.hidden(item)) || !item.hidden) {

                <!-- Basic -->
                @if (item.type === 'basic') {
                    <zuzi-vertical-navigation-basic-item
                        [item]="item"
                        [name]="name"></zuzi-vertical-navigation-basic-item>
                }

                <!-- Collapsable -->
                @if (item.type === 'collapsable') {
                    <zuzi-vertical-navigation-collapsable-item
                        [item]="item"
                        [name]="name"
                        [autoCollapse]="autoCollapse"></zuzi-vertical-navigation-collapsable-item>
                }

                <!-- Divider -->
                @if (item.type === 'divider') {
                    <zuzi-vertical-navigation-divider-item
                        [item]="item"
                        [name]="name"></zuzi-vertical-navigation-divider-item>
                }

                <!-- Group -->
                @if (item.type === 'group') {
                    <zuzi-vertical-navigation-group-item
                        [item]="item"
                        [name]="name"></zuzi-vertical-navigation-group-item>
                }

                <!-- Spacer -->
                @if (item.type === 'spacer') {
                    <zuzi-vertical-navigation-spacer-item
                        [item]="item"
                        [name]="name"></zuzi-vertical-navigation-spacer-item>
                }

            }
        }
    </div>
}
